@media (min-width: 1px) {
  .bkgd-img {
    background: url(../img/mom-300.jpg) no-repeat;
    height: 50px;
  }
}
@media (min-width: 501px) {
  .bkgd-img {
    background: url(../img/mom-767.jpg) no-repeat;
    height: 128px;
  }
}
@media (min-width: 1000px) {
  .bkgd-img {
    background: url(../img/mom-1200.jpg) no-repeat;
    height: 200px;
  }
}
